<div id="content">
	<%= link_to 'Category', vendor_categories_path %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= link_to new_vendor_path,:class => "btn btn-xs btn-primary pull-right btn-circle"  do %>
				<i class="fa fa-plus-circle"></i>
			<% end %>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Vendor Cateogry</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @vendors.each do |f| %>
						<tr>
							<td><%= f.name %></td>
							<td><%= f.vendor_category.name %></td>
							<td>
								<%= link_to  edit_vendor_path(f) do %>
									<button class="btn btn-primary btn-sm" ><i class="fa fa-edit"></i></button>
								<% end %>
								<%= link_to vendor_path(f), method: :delete, data: { confirm: "Are you sure?" }  do %>
									<button class="btn btn-danger btn-sm" ><i class="fa fa-trash"></i></button>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div><!-- end content -->