<section class="banner2">
   <div class="container">
    <div class="banner_caption sign_up"><div class="signup_txt"><p>Forgot your password?</p></div>
      <div class="sign_in">
        <h2>Send email reset password instructions</h2>
        <div class="input_bx">
           <%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
						  <%= devise_error_messages! %>

						    <%= f.email_field :email, autofocus: true %>

						  <div class="actions">
						    <%= f.submit "Send", :style => "background:#2f4f98;color:#FFFFFF" %>
						  </div>


            <div class="clear"></div>
            <div class="forget"><a href="<%= new_user_session_path %>">Sign IN</a></div>              
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>





